.main_section{
    position: relative;
    background-image: linear-gradient(45deg, #034A74 15.38%, rgba(3, 74, 116, 0) 73.63%), url("/pic2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 500px; 

}


.container{
    /* position: absolute; */
    /* max-width: 140rem; */
    margin:0 auto;
    padding: 120px 120px;
    color: #FFFFFF;
    /* z-index: 2; */
}

.grid_two_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;   
}

.paragraph_button {
    border-radius: 1.4rem;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    padding: .3rem 1.2rem;
    text-align: center;
    margin: 20px 0px;
    color: #FFFFFF;
    background-color: #f48020;
}


.about_header {
    position: relative;
    background: linear-gradient(95deg, #034A74 15.38%, rgba(3, 74, 116, 0) 93.63%);
    width: 100vw;
    height: 500px; 
    margin-top: 40px ;
}

.grid_container {
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    grid-gap: 20px;
}
  
.grid_item {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}

