.card_section{
  padding: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #054F7E;
    border-radius: 8px;
    max-width: 320px;
    background-color: #ffffffe7;
    /* box-shadow: rgba(207, 14, 14, 0.758) 0px 1px 3px 0px, rgba(9, 84, 158, 0.15) 0px 0px 0px 1px; */
    box-shadow: 2px 3px 8px #054F7E;
  }
  
  .card_image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
  }

.card_data{
    padding: 1.2rem;
}

.card_data p {
    font-size: 15px;
    font-weight: 300;
    /* margin: 6px 0; */
    padding: 6px 0;
}

.card_data h3 {
    font-size: 20px;
    font-weight: 600;
    /* line-height: 60px; */
    color: #054F7E;
}

.card_data > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.card_data a {
    font-size: 15px;
    font-weight: 300;
    color: blue;
  }