/* .card_section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 420px;
    margin: 25px 100px 45px 100px;
} */

.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: none;
    border-radius: 8px;
    max-width: 420px;
    background-color: #f5f5f5;
}

.heading {
    display: flex;
    padding: 20px 0px;
    gap: 10px;
    border-bottom: 1px solid #054F7E;
}

/* .heading > h3 {
    font-size: 25px;
} */

.paragraph {
    padding: 20px 0px;
}