/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* font-size: 75.5%; */
    overflow-x: hidden;
}

/* Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0; 
    padding: 0;
}

/* Add border box to images */
img {
    border: 0;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 60px;
    color: #FFFFFF;
}



ul,
ol, li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    line-height: 0;
}

